body
{
  font-family:'helvetica neue', helvetica, arial, sans-serif, sans;
}

ul.hl li
{
	display:inline-block;
	margin-right:10px;
}

a {
	color:black;
	font-weight:bold;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}


#container > *
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	background:transparent;
}

#background
{
	z-index:9;
	background:#F2F2F2;
}

#middleground
{
	overflow:auto;
	z-index:10;
	padding-top:15px;
	padding-bottom:15px;
}

#foreground
{
	display:none;
	z-index:11;
}

#middleground > *
{
	width:80%;
	margin:-1px auto;
	border:1px solid #E6E6E6;
	background:white;
	padding:5px 10px;
}

#header, #footer
{
	height:25px;
	background:white;
	color:#444;
}

#header a, #footer a
{
	color:inherit;
}

#header:hover, #footer:hover
{
	color:black;
}

#header
{
	
}

#footer
{
	
	text-align:center;
}

#content
{
	background:white;
	padding:15px 10px;
	min-height:150px;
}

#links li:before
{
	display:inline-block;
	content: " | ";
	padding-right:10px;
}
#links li:first-child:before
{
	display:inline-block;
	content:"" !important;	
}

.projects li img {
	width:50px;
	height:50px;
	background:whiteSmoke;
	border:1px solid #ccc;
}