ul.hl li
{
	display:inline-block;
	margin-right:10px;
}

#container > *
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	background:transparent;
}

#background
{
	z-index:9;
	background:#F2F2F2;
}

#middleground
{
	overflow:auto;
	z-index:10;
	padding-top:15px;
	padding-bottom:15px;
}

#foreground
{
	display:none;
	z-index:11;
}

#middleground > *
{
	width:950px;
	margin:-1px auto;
	border:1px solid #E6E6E6;
	background:white;
	padding:5px 10px;
}

#header, #footer
{
	height:20px;
	background:white;
}

#header
{
	border-bottom:1px solid #E7E7E7;
}

#footer
{
	border-top:1px solid #E7E7E7;
	text-align:center;
}

#content
{
	background:white;
	padding:10px;
}

