container > *
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	background:transparent;
}

#background
{
	z-index:9;
	background:#F2F2F2;
}

#middleground
{
	overflow:auto;
	z-index:10;
}

#foreground
{
	display:none;
	z-index:11;
}

#middleground > *
{
	width:950px;
	margin:0 auto;
	border:1px solid #eee;
	background:white;
	padding:5px 10px;
}

#content
{
	margin-top:15px;
	margin-bottom:15px;
}