body {
  background:#eee;
  font-family:arial;
  font-size:12px;
}

a, a:visited {
  color:inherit;
  text-decoration:none;
  opacity:.8;
}

a:hover {
  opacity:10;
}

.root * {
  margin:1.5em 1em;
  display:inline-block;
}

.root > * {
  display:block;
  margin-left:0em;
  margin-top:0em;
}

.items {
  vertical-align:top;
  margin-top:0em;
  margin-bottom:0em;
}

.items > * {
  background:#fff;
  margin:0em .5em;
  min-height:55px;
  max-width:400px;
  overflow:hidden;
  vertical-align:top;
  cursor:pointer;
  border:1px solid transparent;
  -webkit-transition: border-color .1s ease-out;
}

.items > div:hover {
  border-color:#ddd !important;
}

.items .website {
  display:none;
  margin-right:2em;
  margin-top:1.9em;
  text-decoration:underline;
}

.items > *.expanded {
  width:380px;
  height:auto;
  overflow:auto;
  border:1px solid #ccc;
}

.items > * > * {
  display:none;
}

.items .logo {
  display:block !important;
  max-height:3.5em;
  max-width:370px;
  vertical-align:top;
  margin:.5em;
}

.items .expanded .logo {
  margin:1.5em auto;
  margin-bottom: 0em;
  max-height:5em;
  padding-bottom:.5em;
  margin-top:1.5em !important;
}

.items > *.expanded > * {
  display:inline-block;
}

.items .description {
  margin-top:0em;
  margin-bottom:0em;
  padding:2em 1em 2em 1em;
  border-top:1px dashed #ddd;
  border-bottom:1px dashed #ddd;
  cursor:default;
  line-height:2em;
}

.category {
  font-weight:bold;
  font-size:150%;
  width:150px;
  background:#333;
  color:#eee;
  text-align:left;
  vertical-align:top;
  line-height:1.5em;
  padding:0.8em 0.5em;
  margin-top:0em;
  cursor:pointer;
}

.category * {
  margin:0em;
}

.category .icon {
  font-family:"Pictos";
  margin-right:1em;
  color:#87CCF8;
}

.category:hover {
  background:black;
  color:white;
}

.items .name {
  font-weight:bold;
  font-size:120%;
  cursor:default;
}

li {
  display:block;
  margin:1em;
}

.links a {
  text-align:right;
  margin:1em;
  background-repeat:no-repeat;
  background-position-left:0px;
  background-position-top:0px;
  background-size:14px;
  padding-left:2em;
}

.links .hnsearch { background-image:url(../images/hnsearch.png); }
.links .twitter { background-image:url(../images/twitter.png); }
